
{% extends "base.html" %}
{% block title %} Download {% endblock %}
{% block content %}

    <h1>Tela de Download</h1>
    <div class='d-flex justify-content-center'>
        <div class="card text-center border-dark mb-3" style="width: 30rem;">
            {% if (archive_type == 'video') : %}
                    <div class="card-header bg-primary">
                        {{file_input}}
                    </div>
                    <video controls>
                        <source src="{{ archive }}" type="video/mp4">
                    </video>
            {% elif (archive_type == 'img') : %}
                    <div class="card-header bg-primary">
                        {{file_input}}
                    </div>
                    <img src="{{ archive }}" alt="Minha Figura">
            {% elif (archive_type == 'audio') : %}
                    <div class="card-header bg-primary">
                        {{file_input}}
                    </div>
                    <audio controls style="width: 29.9rem;">
                        <source src="{{ archive }}" type="audio/mp3">
                    </audio>
            {% endif %}
            <div class="card-footer text-muted">
                <form action="/files/{{file_input}}" method="GET">
                    <input type="submit" value="Download" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
        

