{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
    <div class='d-flex justify-content-center'>
        <div class="card border-primary bg-light mb-3 w-75">
            <div class="card-header bg-primary text-white"> <h3>Your Files</h3></div>
            <div class="card-body">
                <ul class="list-group">
                    {% for file in user.files %}
                    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {{ file.name }}
                      <div class="d-flex justify-content-between align-items-center">

                        <a class="badge bg-success text-white rounded-pill">
                            Num Of Downloads: {{file.numberofdownloads}}
                        </a>
                          &nbsp
                          <a href="{{file.link}}" class="badge bg-success text-white rounded-pill">
                            Access
                        </a>
                        &nbsp
                        <a href="{{ url_for('home.delete_file', id=file.id) }}" class="badge bg-danger text-white rounded-pill">
                            Delete
                        </a>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
          </div>
    </div>
{% endblock %} 