{% extends "base.html" %}
{% block title %} Sign up {% endblock %}
{% block content %}

<h1> Cadastro </h1>

<form action="/action_page.php">
  <label for="fname">Nome</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="fname">Sobrenome</label><br>
  <input type="text" id="last_name" name="last_name"><br>
  <label for="fname">Usuário</label><br>
  <input type="text" id="user" name="user"><br>
  <label for="fname">E-mail</label><br>
  <input type="text" id="mail" name="mail"><br>
  <label for="lname">Senha</label><br>
  <input type="password" id="pass" name="pass" ><br>
  <label for="lname">Confirmar senha</label><br>
  <input type="confirm_password" id="pass" name="confirm_password" ><br><br>
  <input type="submit" value="Submit">
</form>  

{% endblock %}

