{% extends "base.html" %}
{% block title %} Sign up {% endblock %}
{% block content %}


<div class='d-flex justify-content-center'>
  <form method="POST">
  <div class="card">
    <h5 class="card-header">Cadastro de Usuário</h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Nome</label><br>
          <input
              type="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Nome"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Sobrenome</label><br>
          <input
              type="surname"
              class="form-control"
              id="surname"
              name="surname"
              placeholder="Sobrenome"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="user">Usuário</label>
        <input
            type="user"
            class="form-control"
            name="user"
            id="user"
            placeholder="Usuário"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password1">Senha</label><br>
          <input
              type="password1"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Senha"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="password2">Confirmar senha</label><br>
          <input
              type="password2"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirmar senha"
          />
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class='d-flex justify-content-center'>
          <button type="submit" class="btn btn-primary btn-block"> Enviar </button>
        </div>
      </li>
    </ul>
    <div class="card-footer text-muted">
      <div class='d-flex justify-content-center'>
        <a href="{{url_for('auth.signin_page')}}"> Já tem cadastro? </a>
      </div>
    </div>
  </div>
  </form>
</div>

{% endblock %}
