{% extends "base.html" %}
{% block title %} Sign up {% endblock %}
{% block content %}

<div class='d-flex justify-content-center'>

  <div class="card">
    <h5 class="card-header">Cadastro de Usuário</h5>
    <div class="card-body">
      <form action="/action_page.php">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fname">Nome</label><br>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
          </div>
          <div class="form-group col-md-6">
            <label for="fname">Sobrenome</label><br>
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Usuário</label>
          <input type="text" class="form-control" id="user" placeholder="Usuário">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pass">Senha</label><br>
            <input type="password" class="form-control" id="pass" name="password" placeholder="Senha">
          </div>
          <div class="form-group col-md-6">
            <label for="confirm_pass">Confirmar senha</label><br>
            <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="Confirmar senha">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
          </div>
          <div class="form-group col-md-4">
            <div class='d-flex justify-content-center'>
              <button type="submit" class="btn btn-primary">                 Enviar  </button>
            </div>
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>
      </form>  
    </div>
  </div>
</div>
  
{% endblock %}

