{% extends "base.html" %}
{% block title %} Sign up {% endblock %}
{% block content %}

<h1> </h1>
<div class='d-flex justify-content-center'>
  <form method="POST">
  <div class="card">
    <h5 class="card-header">Registration</h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label><br>
          <input
              type="name"
              class="form-control"
              id="name"
              name="name"
              placeholder="Name"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Surname</label><br>
          <input
              type="surname"
              class="form-control"
              id="surname"
              name="surname"
              placeholder="surname"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="user">User</label>
        <input
            type="user"
            class="form-control"
            name="user"
            id="user"
            placeholder="User"
        />
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Mail">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password1">Password</label><br>
          <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Password"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="password2">Confirm password</label><br>
          <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm password"
          />
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class='d-flex justify-content-center'>
          <button type="submit" class="btn btn-primary btn-block"> Submit </button>
        </div>
      </li>
    </ul>
    <div class="card-footer text-muted">
      <div class='d-flex justify-content-center'>
        <p> Already have a registration? &nbsp</p><a href="{{url_for('auth.signin_page')}}"> Sign in </a>
      </div>
    </div>
  </div>
  </form>
</div>

{% endblock %}
